<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel="stylesheet" href="assets/styles.css" type="text/css">
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="assets/todo-list.js" defer></script>
  </head>
  <body>
    <h1>My Todo List</h1>
    <div id="todo-table">
      <form action="#">
        <input type="text" name="item" placeholder="Add new item...">
        <button type="submit">Add Item</button>
      </form>
      <ul>
        <% todos.forEach(todo => { %>
         <li><%= todo.item %> </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
