<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        <h1>Hello <%= name %></h1>
        <ul>
            <% hobbies.forEach(function(hobby){ %>
                <li><%= hobby %></li>
            <% }); %>
        </ul>
        <script src="" async defer></script>
    </body>
</html>